<mat-card>
  <mat-card-title>
    Dashboard
  </mat-card-title>
  <mat-card-content>
    Welcome to xVehicle Dealers Network! Here we will find you the best possible vehicle with the help
    of our employees.
  </mat-card-content>
  <div *ngIf="employee != null">
    <mat-card-subtitle>
      Current employee: {{employee.first_name}} {{employee.last_name}}
    </mat-card-subtitle>
    <mat-tab-group>
      <mat-tab label="Most Sold Vehicles">
        <mat-table [dataSource]='topVehicles' *ngIf="topVehicles.length != 0">
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef > Position </mat-header-cell>
            <mat-cell  *matCellDef="let i = index;"> {{i + 1}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="vbrand">
            <mat-header-cell *matHeaderCellDef > Brand </mat-header-cell>
            <mat-cell *matCellDef="let vehicle"> {{vehicle.vbrand}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="vmodel">
            <mat-header-cell *matHeaderCellDef> Model </mat-header-cell>
            <mat-cell *matCellDef="let vehicle"> {{vehicle.vmodel}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
          <mat-row *matRowDef="let vehicle; columns: headers"></mat-row>
        </mat-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>

