<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<mat-toolbar color="primary">
  <mat-toolbar-row>
            <button mat-button [matMenuTriggerFor]="menu"
            #matMenuTrigger="matMenuTrigger"
            ><i class="material-icons">menu</i></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/">Home</button>
              <button mat-menu-item routerLink="/search">My Dealer</button>
              <button mat-menu-item routerLink="/all-dealers">Dealers</button>
            </mat-menu>
            <span>{{selectedRoute}}</span>
            <span class="fill-space"></span>
            <button mat-button routerLink="/login">
              <i class="material-icons">
              account_circle
            </i></button>
        </mat-toolbar-row>

</mat-toolbar>
