<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<mat-toolbar color="primary">
  <mat-toolbar-row>
            <button mat-button [matMenuTriggerFor]="menu"
            #matMenuTrigger="matMenuTrigger"
            ><i class="material-icons">menu</i></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/home" (click)="navTitle('Vehicle Search Engine')">Home</button>
              <button mat-menu-item routerLink="/search" (click)="navTitle('Search')">Search</button>
              <button mat-menu-item routerLink="/dealers" (click)="navTitle('Dealers')">Dealers</button>
            </mat-menu>
            <span>{{selectedRoute}}</span>
        </mat-toolbar-row>

</mat-toolbar>
