<mat-card>
  <div fxLayoutAlign="flex-start">
    <mat-card-title>
      {{dealer.dname}}
    </mat-card-title>
    <span class="fill-space"></span>
    <button mat-button (click)="openDialog()">
      <i class="material-icons searchButton">
      add_circle
    </i>
    </button>
  </div>
  <mat-card-subtitle>
    Addres:
  </mat-card-subtitle>
  <mat-card-content>
    {{dealer.daddress}}, {{dealer.dcity}}
  </mat-card-content>
  <mat-tab-group (selectedTabChange)="onLinkClick($event)">
    <mat-tab label="Available Vehicles">
    </mat-tab>
    <mat-tab label="Reserved Vehicles">
    </mat-tab>
  </mat-tab-group>
  <mat-form-field>
    <input #brand matInput placeholder="Brand"><br>
  </mat-form-field>
  <mat-form-field>
    <input #model matInput placeholder="Model"><br>
  </mat-form-field>
  <mat-form-field>
    <input #year matInput placeholder="Year"><br>
  </mat-form-field>
  <mat-form-field>
    <input #color matInput placeholder="Color"><br>
  </mat-form-field>
  <button mat-button (click)="searchVehicle(brand.value, model.value, year.value, color.value)">
    <i class="material-icons searchButton">
      search
    </i>
  </button>
  <mat-table [dataSource]='vehicles' *ngIf="vehicles.length != 0" matSort (matSortChange)="sortData($event)">
    <ng-container matColumnDef="vbrand">
      <mat-header-cell *matHeaderCellDef mat-sort-header="brand"> Brand </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle.vbrand}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="vmodel">
      <mat-header-cell *matHeaderCellDef mat-sort-header="model"> Model </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle.vmodel}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="vyear">
      <mat-header-cell *matHeaderCellDef mat-sort-header="year"> Year </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle.vyear}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="vcolor">
      <mat-header-cell *matHeaderCellDef mat-sort-header="color"> Color </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle.vcolor}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="vprice">
      <mat-header-cell *matHeaderCellDef mat-sort-header="price"> Price </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> ${{vehicle.vprice}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
    <mat-row *matRowDef="let vehicle; columns: headers" (click)="goToVehicleDetail(vehicle.vid)"></mat-row>
  </mat-table>
</mat-card>
