@import './theme';

.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.searchButton {
  color: darkslateblue;
}

.submitButton {
  color: white;
  background-color: darkslateblue;
}

.cancelButton {
  color: white;
  background-color: crimson;
}
