@import '~@angular/material/theming';
@include mat-core();

$front-end-primary: mat-palette($mat-teal);
$front-end-accent:  mat-palette($mat-indigo, 500, 900, A100);
$front-end-warn:    mat-palette($mat-indigo);
$front-end-theme: mat-light-theme($front-end-primary, $front-end-accent, $front-end-warn);
@include angular-material-theme($front-end-theme);
